@import url(root.css);

.flex-container-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.page-top {
    align-items: center;
    text-align: center;
}

.featured-element {
  background-color: var(--color3);
  width: auto;
  margin-bottom: 20px;
  padding: 20px;
}
